@import '~global/var.less';
@import '~global/mixins.less';

.@{px-loading} {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    &--spin{
        &::before{  
            animation: loadingCircle 1s infinite linear;
        }
    }
    // 小号
    &__small{
        >.@{px-loading}--box{
            .@{px-loading}--spin{
                .dpr(14);
            }
            >p{
                .dpr(@fs3);
            }
        }
    }
    // 默认大小
    &__default{
        >.@{px-loading}--box{
            .@{px-loading}--spin{
                .dpr(22);
            }
            >p{
                .dpr(@fs2);
            }
        }
    }
    // 大号
    &__large{
        
        >.@{px-loading}--box{
            .@{px-loading}--spin{
                .dpr(32);
            }
            >p{
                .dpr(@fs1);
            }
        }
    }
    // 显示loading状态
    &__show{
        &::after{
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            z-index: 1000;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0)
        }
        .@{px-loading}--box{
            display: inline;
        }
        .@{px-loading}--children{
            opacity: .7;
            filter: blur(.5px);
        }
    }
    &--box{
        display: none;
        color: @c4;
        position: absolute;
        // display: inline;
        max-width: 80%;
        left: 50%;
        top: 100 - 61.8%; // 完美黄金比例！！！！！鼓掌啪啪啪啪！！
        transform: translate(-50%, -50%);
        text-align: center;
        z-index: 100;
        >p{
            .slh();
            // width: 61.8%; // 又是完美的黄金比例！！！
            margin: @u*4 auto 0;
        }
    }
    &--children{
        height: 100%;
        width: 100%;
    }
    &--mask-box {
        position: absolute;
        width: @u*150;
        height: @u*100;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        background: rgba(64, 64, 64, 0.24);
        border-radius: @u*4;
    }
}

@keyframes loadingCircle {
    0%{
        transform: rotateZ(0);
    }
    100% {
        transform: rotateZ(360deg);
    }
}