@charset "utf-8";

// 颜色
@import "./color.less";

@prefix: zy;

@u:1px; // 设计图大小
@multiple:1;// 
@isPc:true;//

// 字体大小
@fs1:16 * @multiple;
@fs2:14 * @multiple;
@fs3:12 * @multiple;

// 图片路径
@pimg:"~img";


@px-alert: ~'@{prefix}-alert';
@px-button: ~'@{prefix}-button';
@px-icon: ~'@{prefix}-icon';
@px-input: ~'@{prefix}-input';
@px-mask: ~'@{prefix}-mask';
@px-confirm: ~'@{prefix}-confirm';
@px-modal: ~'@{prefix}-modal';
@px-scroll: ~'@{prefix}-scroll';
@px-super-dom: ~'@{prefix}-super-dom';
@px-tree: ~'@{prefix}-tree';
@px-checkbox: ~'@{prefix}-checkbox';
