@charset "utf-8";

// 颜色
@import "./color.less";

@prefix: zy;

@u:1px; // 设计图大小
@multiple:1;// 
@isPc:true;//

// 字体大小
@fs1:16 * @multiple;
@fs2:14 * @multiple;
@fs3:12 * @multiple;

// 图片路径
@pimg:"~img";